In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
# products_sheet_id = "1FB2bbvWE2nsf49KO_DkWzbL2hm9r4G8j"
# products_list = "Tablib%20Dataset"
# url = f"https://docs.google.com/spreadsheets/d/{products_sheet_id}/gviz/tq?tqx=out:csv&sheet={products_list}"

In [2]:
# convert csv datasets into dataframes

pdt_df = pd.read_csv('full_products_list.csv')
batches_df = pd.read_csv('batches_list.csv')
recipe_df = pd.read_csv('recipe_list.csv')

In [3]:
# import excel file from an absolute path with pandas

xls = pd.ExcelFile(r'C:\Users\NDA\Desktop\EVE\TMCG\documents\duplicate_products.xlsx')

In [4]:
# convert xls datasets on sheet names into dataframes

dp_list = pd.read_excel(xls, 'copy_final_list_duplicates')
unique_pdts_df = pd.read_excel(xls, 'unique final list')

In [5]:
# drop unwanted columns from the duplicates list dataframe

new_dp_list = dp_list.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 8',
                           'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
                           'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                           'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'], axis=1)

In [6]:
# cleanup data by renaming pandas series with more meaningfull names

new_dp_list = new_dp_list.rename(columns={'Eva': 'PRODUCT ID', 'Unnamed: 6': 'GENERIC NAME', 'Unnamed: 7': 'BRAND NAME'})

In [7]:
# drop null values based on rows

new_dp_list = new_dp_list.dropna(axis='rows')

In [ ]:
# check to see if dataset is now clean 

new_dp_list.tail()

In [8]:
# remove the inverse labels

new_dp_list = new_dp_list.drop([new_dp_list.index[-1]])

In [ ]:
# check to see whether id has numerical values
# re-check after running next cell

new_dp_list.info()

In [9]:
# convert product id into numeric 

new_dp_list['PRODUCT ID'] = pd.to_numeric(new_dp_list['PRODUCT ID'], errors='ignore')

In [ ]:
# new_row = unique_pdts_df.iloc[14]
# new_row

In [ ]:
# new_dp_list = new_dp_list.append(new_row, ignore_index=True)

In [ ]:
new_dp_list.head()

In [ ]:
# check unique products dataframe

unique_pdts_df.columns

In [10]:
# drop unnecessary columns from unique lists

unique_pdts_df = unique_pdts_df.drop(['COUNTRY OF ORIGIN', 'FORMULATION', 'RETAIL PRICE PER SMALLEST UNIT', 
                                      'RETAIL PRICE PER SMALLEST UNIT.1', 'PACK SIZE', 'STRENGTH', 'eshop_id', 
                                      'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 
                                      'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 
                                      'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 
                                      'Unnamed: 25'], axis=1)

In [11]:
# change column name into product id for easy manipulation

unique_pdts_df = unique_pdts_df.rename(columns={'ID': 'PRODUCT ID'})

In [ ]:
# unique_pdts_df = unique_pdts_df.drop(labels=14, axis=0)

In [ ]:
# unique_pdts_df.reset_index(drop=True, inplace=True)

In [ ]:
unique_pdts_df

In [12]:
# give proper indices to the dataset

new_dp_list.reset_index(drop=True, inplace=True)

In [ ]:
# create a new column on which we will compare our product ids
new_dp_list['NEW ID'] = ''

# create a new column on which we will compare our generic names
new_dp_list['new_generic_name'] = ''

# loop through the unique products dataframe using its index
for i in range(len(unique_pdts_df)):
    
   # loop through the list of duplicates using its index
    for j in range(len(new_dp_list)):
        
       # compare the two pandas series on generic names. Coerce them to lowercase for proper comparison
        if unique_pdts_df['GENERIC NAME'][i].lower() in new_dp_list['GENERIC NAME'][j].lower():
            
            # assign the new ids to the resulting product from unique products loop and do the same for generic name
            new_dp_list['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]
            new_dp_list['new_generic_name'][j] = unique_pdts_df['GENERIC NAME'][i]

In [ ]:
# subset the rows that were filled
filled = new_dp_list[new_dp_list['NEW ID'] != '']

# filled

In [ ]:
# subset the unfilled rows
unfilled = new_dp_list[new_dp_list['NEW ID'] == '']

# unfilled

In [ ]:
# re-index the dataframe because dropping out rows has messed up with its indexing

unfilled.reset_index(drop=True, inplace=True)

In [ ]:
# unique_pdts_df

In [ ]:
new_dp_list

In [ ]:
new_dp_list.head()

In [13]:
unique_dict = {k:[] for k in new_dp_list['PRODUCT ID']}

for i in range(len(unique_pdts_df)):
    
   # loop through the list of duplicates using its index
    for j in range(len(new_dp_list)):
        
       # compare the two pandas series on generic names. Coerce them to lowercase for proper comparison
        if unique_pdts_df['GENERIC NAME'][i].lower() in new_dp_list['GENERIC NAME'][j].lower():
            
            unique_dict[new_dp_list['PRODUCT ID'][j]].append(unique_pdts_df['PRODUCT ID'][i])
            
unique_dict

# loop through the unique products dataframe using its index
# for i in range(len(unique_pdts_df)):
# #     print(unique_dict)
    
#     for key, val in unique_dict.items():
# #         if unique_pdts_df['GENERIC NAME'][i].lower() in new_dp_list['Generic Name'][j].lower():
#         val.append(unique_pdts_df['PRODUCT ID'][i])
# #         print(val)

{3951: [3352],
 387: [715],
 4933: [715],
 4942: [715],
 3146: [],
 5312: [830],
 5416: [],
 3819: [],
 5304: [5303],
 5239: [],
 4685: [4686],
 4672: [],
 5444: [569],
 4896: [166],
 4888: [166],
 209: [166],
 5033: [5533],
 530: [],
 418: [],
 261: [],
 4477: [5134],
 4865: [4855],
 3915: [638],
 3904: [638],
 3304: [638],
 253: [],
 5234: [],
 3325: [3925],
 2725: [3925],
 3952: [3352, 4594],
 4595: [715],
 719: [696],
 4057: [4056],
 4132: [3532],
 5391: [],
 5390: [],
 5389: [],
 5031: [902],
 394: [902],
 902: [902],
 4031: [4029],
 5378: [5347],
 4729: [715],
 5370: [647],
 540: [],
 4868: [4867],
 5380: [],
 5379: [],
 3814: [2614],
 538: [173],
 636: [5152],
 5394: [4442]}

In [ ]:
unique_dict = {k.lower():[] for k in new_dp_list['GENERIC NAME']}

for i in range(len(unique_pdts_df)):
    
   # loop through the list of duplicates using its index
    for j in range(len(new_dp_list)):
        
       # compare the two pandas series on generic names. Coerce them to lowercase for proper comparison
        if unique_pdts_df['GENERIC NAME'][i].lower() in new_dp_list['GENERIC NAME'][j].lower():
            
            unique_dict[new_dp_list['GENERIC NAME'][j].lower()].append(unique_pdts_df['PRODUCT ID'][i])
            
unique_dict

In [15]:
# loop through the unique products dataframe using its index
for i in range(len(unique_pdts_df)):
    
    # loop through the list of duplicates using its index
    for j in range(len(new_dp_list)):
        if len(unique_dict[new_dp_list['PRODUCT ID'][j]]) == 0:
        
            # extract string from the product
            str_a  = unique_pdts_df['GENERIC NAME'][i].lower()
            str_b = new_dp_list['GENERIC NAME'][j].lower()

            # assign ratio to both strings
            ratio = fuzz.partial_ratio(str_b, str_a)            

            # sent conditon for comparing the series
            if ratio >= 81:
                unique_dict[new_dp_list['PRODUCT ID'][j]].append(unique_pdts_df['PRODUCT ID'][i])
unique_dict

    #                 unique_dict[key] = str_b
    #                 unique_dict.append([str_a])
    #                 print(unique_dict)
    #                 unfilled['new_generic_name'][j] = unique_pdts_df['GENERIC NAME'][i]
    #                 unfilled['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]

{3951: [3352],
 387: [715],
 4933: [715],
 4942: [715],
 3146: [],
 5312: [830],
 5416: [4745],
 3819: [3816],
 5304: [5303],
 5239: [5044],
 4685: [4686],
 4672: [],
 5444: [569],
 4896: [166],
 4888: [166],
 209: [166],
 5033: [5533],
 530: [4786],
 418: [4786],
 261: [4786],
 4477: [5134],
 4865: [4855],
 3915: [638],
 3904: [638],
 3304: [638],
 253: [4786],
 5234: [5208],
 3325: [3925],
 2725: [3925],
 3952: [3352, 4594],
 4595: [715],
 719: [696],
 4057: [4056],
 4132: [3532],
 5391: [],
 5390: [],
 5389: [],
 5031: [902],
 394: [902],
 902: [902],
 4031: [4029],
 5378: [5347],
 4729: [715],
 5370: [647],
 540: [],
 4868: [4867],
 5380: [5337],
 5379: [5337],
 3814: [2614],
 538: [173],
 636: [5152],
 5394: [4442]}

In [14]:
# loop through the unique products dataframe using its index
for i in range(len(unique_pdts_df)):
    
    # loop through the list of duplicates using its index
    for j in range(len(new_dp_list)):
        if len(unique_dict[new_dp_list['GENERIC NAME'][j].lower()]) == 0:
        
            # extract string from the product
            str_a  = unique_pdts_df['GENERIC NAME'][i].lower()
            str_b = new_dp_list['GENERIC NAME'][j].lower()

            # assign ratio to both strings
            ratio = fuzz.partial_ratio(str_b, str_a)            

            # sent conditon for comparing the series
            if ratio >= 81:
                unique_dict[new_dp_list['GENERIC NAME'][j].lower()].append(unique_pdts_df['PRODUCT ID'][i])
unique_dict

KeyError: 'betadine mouthwash gargle'

In [ ]:
unique_dict['miconazole, clebetasol and gentamycin'].append(346)
unique_dict['diclofenac 12.5mg suppositories'].append(4334)
unique_dict['kabuuti herbal cough syrup'].append(5145)
unique_dict['diclofenac tabs'].append(4328)
unique_dict['amlodipine besilate,valsatan'].append(5303)

In [16]:
unique_dict[540].append(346)
unique_dict[5391].append(4334)
unique_dict[5389].append(4334)
unique_dict[5390].append(4334)
unique_dict[4672].append(5145)
unique_dict[3146].append(4328)
unique_dict[3819].append(5303)
unique_dict[4729].append(4945)
unique_dict[4595].append(4594)
unique_dict[3819].pop(0)
unique_dict[4595].pop(0)
unique_dict[4729].pop(0)
unique_dict[3952].pop(1)

4594

In [ ]:
unique_dict['amlodipine besilate,valsatan'].pop(0)

In [ ]:
unique_dict

In [ ]:
# loop through the unique products dataframe using its index
for i in range(len(unique_pdts_df)):

    # loop through the list of duplicates using its index
    for j in range(len(unfilled)):
        
        # extract string from the product
        str_a  = unique_pdts_df['GENERIC NAME'][i].lower()
        str_b = unfilled['GENERIC NAME'][j].lower()
        
        # assign ratio to both strings
        ratio = fuzz.partial_ratio(str_b, str_a)            
        
        # sent conditon for comparing the series
        if ratio >= 81:
            print(str_b, ':', str_a, ':', ratio)
            unfilled['new_generic_name'][j] = unique_pdts_df['GENERIC NAME'][i]
            unfilled['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]            
#                 unique_dict[key] = str_b
#                 unique_dict.append([str_a])
#                 print(unique_dict)
#                 unfilled['new_generic_name'][j] = unique_pdts_df['GENERIC NAME'][i]
#                 unfilled['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]

In [ ]:
# unfilled

In [ ]:
# combine the dataframes into one dataframe
# combined_df = pd.concat([unfilled, filled], axis=0).sort_values('Generic Name')

In [ ]:
# re-index the dataframe
# combined_df.reset_index(drop=True, inplace=True)

In [ ]:
# combined_df

### The product dataset

In [ ]:
# investigate the products on columns
pdt_df.columns

In [ ]:
# new_pdt_df= pdt_df.drop(['COUNTRY OF ORIGIN', 'FORMULATION', 'PACK SIZE', 'RETAIL PRICE PER SMALLEST UNIT', 
#              'RETAIL PRICE PER SMALLEST UNIT.1', 'PACK SIZE', 'STRENGTH', 'eshop_id'], axis=1)

In [ ]:
# investigate the product's types
pdt_df.dtypes

In [ ]:
pdt_df.info()

In [ ]:
new_dp_list.head()

In [ ]:
# change product's id for ease in comparing with other dataframes
new_pdt_df = pdt_df.rename(columns={'ID': 'PRODUCT ID'})

In [ ]:
# check to find out whether the new_product_df id is identical to the duplicate list id 
merged_pdt_df = new_pdt_df['PRODUCT ID'].isin(new_dp_list['PRODUCT ID'])

In [ ]:
# drop the identical ids
new_pdt_df.drop(new_pdt_df[merged_pdt_df].index, inplace=True)

In [ ]:
# checkout the new dataframe
new_pdt_df.info()

In [ ]:
# test on a product from the duplicates list
new_pdt_df[new_pdt_df['PRODUCT ID'] == 387]

In [ ]:
# merged_pdt_df[merged_pdt_df['PRODUCT ID'] == 3951]

### The batches dataframe

In [ ]:
batches_df.head(20)

In [ ]:
batches_df[batches_df['PRODUCT ID'] == 3352]

In [17]:
unique_dict

{3951: [3352],
 387: [715],
 4933: [715],
 4942: [715],
 3146: [4328],
 5312: [830],
 5416: [4745],
 3819: [5303],
 5304: [5303],
 5239: [5044],
 4685: [4686],
 4672: [5145],
 5444: [569],
 4896: [166],
 4888: [166],
 209: [166],
 5033: [5533],
 530: [4786],
 418: [4786],
 261: [4786],
 4477: [5134],
 4865: [4855],
 3915: [638],
 3904: [638],
 3304: [638],
 253: [4786],
 5234: [5208],
 3325: [3925],
 2725: [3925],
 3952: [3352],
 4595: [4594],
 719: [696],
 4057: [4056],
 4132: [3532],
 5391: [4334],
 5390: [4334],
 5389: [4334],
 5031: [902],
 394: [902],
 902: [902],
 4031: [4029],
 5378: [5347],
 4729: [4945],
 5370: [647],
 540: [346],
 4868: [4867],
 5380: [5337],
 5379: [5337],
 3814: [2614],
 538: [173],
 636: [5152],
 5394: [4442]}

In [18]:
for key, val in unique_dict.items():
    if key in batches_df['PRODUCT ID']:
        batches_df['NEW PRODUCT ID'] = batches_df['PRODUCT ID'].map(unique_dict, na_action='ignore')
        batches_df['NEW PRODUCT ID'] = batches_df['NEW PRODUCT ID'].str.get(0)
print(batches_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3982 entries, 0 to 3981
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PRODUCT ID             3982 non-null   int64
 1   id                     3982 non-null   int64
 2   created                3982 non-null   object
 3   modified               3982 non-null   object
 4   batch_number           3982 non-null   object
 5   cost_price             3982 non-null   int64
 6   initial_item_count     3982 non-null   int64
 7   item_count             3982 non-null   int64
 8   expiration_date        3982 non-null   object
 9   manufacturing_date     1179 non-null   object
 10  product__generic_name  3982 non-null   object
 11  product__brand_name    3982 non-null   object
 12  NEW PRODUCT ID         71 non-null     float64
dtypes: float64(1), int64(5), object(7)
memory usage: 404.5+ KB
None

In [92]:

batches_df['NEW PRODUCT ID'] = batches_df['NEW PRODUCT ID'].astype(int)

In [98]:
batches_df[batches_df['PRODUCT ID'] == 5378]

Empty DataFrame
Columns: [PRODUCT ID, id, created, modified, batch_number, cost_price, initial_item_count, item_count, expiration_date, manufacturing_date, product__generic_name, product__brand_name, NEW PRODUCT ID]
Index: []

In [99]:
batches_df[batches_df['PRODUCT ID'] == 5347]

,PRODUCT ID,id,created,modified,batch_number,cost_price,initial_item_count,item_count,expiration_date,manufacturing_date,product__generic_name,product__brand_name,NEW PRODUCT ID
1698,5347,2378,2021-01-05 18:21:41,2021-01-05 18:21:41,CE-2262-A,610,0,0,2022-01-31,NaN,FLUCONAZOLE,FLUCAZ 100MG,5347
1699,5347,2377,2021-01-05 18:20:37,2021-01-05 18:20:40,CE-2262-A,610,0,0,2021-01-31,NaN,FLUCONAZOLE,FLUCAZ 100MG,5347

In [90]:
batches_df['NEW PRODUCT ID'] = batches_df['NEW PRODUCT ID'].fillna(0)

In [95]:
for i in range(len(batches_df)):
    if batches_df['NEW PRODUCT ID'][i] != 0:
#         print(batches_df.head())
        batches_df['PRODUCT ID'][i] = batches_df['NEW PRODUCT ID'][i]

<ipython-input-95-3dc723979feb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batches_df['PRODUCT ID'][i] = batches_df['NEW PRODUCT ID'][i]

In [93]:
batches_df.head(20)

,PRODUCT ID,id,created,modified,batch_number,cost_price,initial_item_count,item_count,expiration_date,manufacturing_date,product__generic_name,product__brand_name,NEW PRODUCT ID
0,5567,4087,2021-05-30 20:49:51,2021-05-30 20:49:51,9104KYU,1500,120,0,2022-05-31,NaN,Nifedipine 30mg,ADALAT,0
1,848,4086,2021-05-30 20:49:17,2021-05-30 20:49:17,77371DR,800,60,0,2022-05-31,NaN,Metoprolol,METOPROLOL 50MG UK,0
2,5637,4085,2021-05-30 20:48:50,2021-05-30 20:48:50,BBN,2400,120,0,2022-05-31,NaN,Tacrolimus,TACROLIMUS PROGRAF 1MG,0
3,5663,4084,2021-05-30 20:48:21,2021-05-30 20:48:21,WWC,3500,90,0,2022-05-31,NaN,Mycophenolate Mofetil,CELLCEPT 500MG TAB,0
4,5485,4083,2021-05-30 20:21:11,2021-05-30 20:21:11,9104BN,2100,30,0,2022-05-31,NaN,"Sitagliptin, Metformin",JANUMET 50/500 MG,0
5,247,4082,2021-05-30 18:38:59,2021-05-30 18:38:59,W0002D,11500,5,0,2023-01-30,NaN,Xylometazoline,XYLO ACINO 0.1%,0
6,389,4081,2021-05-30 17:19:35,2021-05-30 17:19:35,2007403,18500,3,0,2023-09-30,NaN,Ceftriaxone,EPICEPHIN 2G INJ,0
7,4925,4080,2021-05-30 17:08:06,2021-05-30 17:08:06,T026363,60000,2,0,2022-07-30,NaN,Mometasone Nasal Spray 120 Sprays,Nasonex,0
8,4786,4079,2021-05-30 14:08:29,2021-05-30 14:08:29,A0236002,750,70,0,2022-12-02,NaN,Loratidine,MOSEDINE,4786
9,286,4078,2021-05-30 09:03:54,2021-05-30 09:03:54,Y106XK,124,100,0,2022-08-30,NaN,"Paracetamol,Caffeine",PANADOL EXTRA,0
10,5649,4077,2021-05-29 20:21:16,2021-05-29 20:21:16,5231402,500,12500,12500,2023-09-30,2020-09-30,Face Mask,DISPOSABLE MEDICAL MASK,0
11,653,4076,2021-05-29 18:15:19,2021-05-29 18:15:19,PA14380,1333,150,0,2021-10-31,NaN,Azithromycin,AZILIDE/ZAHA 500MG TABS,0
12,449,4075,2021-05-29 18:12:46,2021-05-29 18:12:46,00721,50,1500,0,2023-02-28,NaN,Zinc Sulphate,ZINC SULPHATE 20mg,0
13,5077,4074,2021-05-29 16:53:23,2021-05-29 16:53:23,1709546S,333,96,0,2022-05-31,NaN,Vitamin D,VITAMIN D ULTRA-D3 1000IU,0
14,4418,4073,2021-05-29 16:24:55,2021-05-29 16:24:55,9104Q,2700,30,0,2022-05-31,NaN,Eplerenone,EPNONE 25MG 30 Tablest,0
15,4418,4072,2021-05-29 16:24:38,2021-05-29 16:24:38,9104C,2700,60,0,2022-05-31,NaN,Eplerenone,EPNONE 25MG 30 Tablest,0
16,4418,4071,2021-05-29 11:24:24,2021-05-29 11:24:24,LC6CQ,2700,30,0,2022-12-12,NaN,Eplerenone,EPNONE 25MG 30 Tablest,0
17,4418,4070,2021-05-29 11:23:56,2021-05-29 11:23:56,LC6CQ,2700,30,0,2022-12-12,NaN,Eplerenone,EPNONE 25MG 30 Tablest,0
18,902,4069,2021-05-29 10:39:48,2021-05-29 10:39:48,LC6C,250,1,0,2022-12-12,NaN,Face Mask,Disposable Medical Face Mask 1’s,902
19,249,4068,2021-05-28 21:47:05,2021-05-28 21:47:05,LC6C,19900,1,0,2022-12-12,NaN,Carbocisteine,RHINATHIOL ADULT SYRUP 5% sugar free,0

In [ ]:
new_batches_df[new_batches_df['NEW PRODUCT ID'] == 696.0]

In [ ]:
print(batches_df['PRODUCT ID'].tolist())

In [ ]:
# cleanup data by renaming pandas series with more meaningfull names
batches_df = batches_df.rename(columns={'product__generic_name': 'Generic Name', 'product__brand_name': 'Brand Name'})

In [ ]:
new_dp_list.info()

In [ ]:
# create a new column on which we will compare our product ids
batches_df['NEW ID'] = ''

# create a new column on which we will compare our generic names
batches_df['new_generic_name'] = ''

# loop through the unique products dataframe using its index
for i in range(len(unique_pdts_df)):
    
   # loop through the list of duplicates using its index
    for j in range(len(new_dp_list)):
        generic_unique = unique_pdts_df['GENERIC NAME'][i].lower()
        generic_batch = batches_df['Generic Name'][j].lower()
        
       # compare the two pandas series on generic names. Coerce them to lowercase for proper comparison
        if generic_unique in generic_batch:
            
            # assign the new ids to the resulting product from unique products loop and do the same for generic name
            batches_df['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]
            batches_df['new_generic_name'][j] = unique_pdts_df['GENERIC NAME'][i]

In [ ]:
batches_df.head()

In [ ]:
# subset the rows that were filled
filled_batches = batches_df[batches_df['NEW ID'] != '']

filled_batches

In [ ]:
# subset the rows that were not filled
unfilled_batches = batches_df[batches_df['NEW ID'] == '']

unfilled_batches

In [ ]:
unfilled_batches.reset_index(drop=True, inplace=True)

In [ ]:
unfilled_batches.head()

In [ ]:
unfilled_batches = unfilled_batches[unfilled_batches['NEW ID'] != '']
unfilled_batches

In [ ]:
# recipe_df.columns

In [ ]:
new_recipe_df = recipe_df.drop(['id', 'created', 'modified', 'prescription', 'dosage', 'tablets', 'quantity', 'frequency', 
                                'duration', 'route', 'price_discount', 'serving_pharmacy', 'price_controller', 'rx_price',
                               'external_price', 'requires_approval', 'approved', 'dropped', 'canceling_party', 
                                'reason_for_cancelation', 'authorized_by_tmcg', 'authorized_by_insurer', 'client_decision', 
                                'insurer_code'], axis=1)

In [ ]:
# new_recipe_df.info()

In [ ]:
# new_recipe_df.head()

In [ ]:
dp_list.head()

In [ ]:
# unique_pdts_df.info()

In [ ]:
# dp_list.columns

In [ ]:
# dp_list.info()

In [ ]:
new_dp_list.head()

In [ ]:
new_dp_list.info()

In [ ]:
# unique_pdts_df.head(49)

In [ ]:
# new_dp_list['PRODUCT ID'].to_list()

In [ ]:
new_dp_list.tail()

In [ ]:
new_dp_list.tail()

In [ ]:
new_dp_list.info()

In [ ]:
# new_dp_list['PRODUCT ID'].to_list()

In [ ]:
new_pdt_df = new_pdt_df.rename(columns={'ID': 'PRODUCT ID'})

In [ ]:
new_pdt_df.head()

In [ ]:
merged_pdt_dup = pd.merge(new_dp_list, new_pdt_df, on=['PRODUCT ID'], how='inner')

In [ ]:
# merged_pdt_dup.head(51)

In [ ]:
merged_batch_dup = pd.merge(new_dp_list, new_batches_df, on=['PRODUCT ID'], how='inner')

In [ ]:
merged_batch_dup.info()

In [ ]:
new_dp_list.shape

In [ ]:
# new_recipe_df

In [ ]:
new_recipe_df = new_recipe_df.rename(columns={'product_id': 'PRODUCT ID'})

In [ ]:
new_recipe_df.head()

In [ ]:
merged_recipe_dup = pd.merge(new_dp_list, new_recipe_df, on=['PRODUCT ID'], how='inner')

In [ ]:
merged_recipe_dup.info()

In [ ]:
# new_pdt_df
# new_batches_df
# new_recipe_df

# merged_pdt_dup
# merged_batch_dup
# merged_recipe_dup

In [ ]:
unique_pdts_df.head()

In [ ]:
merged_batch_dup.head()

In [ ]:
new_batch = merged_batch_dup.replace()

In [ ]:
# for prod in merged_batch_dup['Generic Name']:
#     if np.where(merged_batch_dup['Generic Name'] == unique_pdts_df['GENERIC NAME'], True, False):
#         print(prod)

In [ ]:
merged_series = merged_batch_dup['Generic Name']
unique_series = unique_pdts_df['GENERIC NAME']

In [ ]:
merged_batch_dup.columns

In [ ]:
# merged_row = merged_batch_dup.loc[['Montelukast']]
# merged_row

In [ ]:
merged_batch_dup['Generic Name'].unique()

In [ ]:
unique_pdts_df['GENERIC NAME'].unique()

In [ ]:
unique_pdts_df.columns

In [ ]:
pdt_df.head()

In [ ]:
pdt_df['NEW ID'] = ""

In [ ]:
for i in range(len(unique_pdts_df)):
    for j in range(len(pdt_df)):
#         if unique_pdts_df['GENERIC NAME'][i] == pdt_df['GENERIC NAME'][j]:
#             pdt_df['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]
        if unique_pdts_df['GENERIC NAME'][i].lower() in pdt_df['GENERIC NAME'][j].lower():
            pdt_df['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]

In [ ]:
# unique_pdts_df[unique_pdts_df['GENERIC NAME'] == 'Montelukast']

In [ ]:
pdt_df.head()

In [ ]:
unique_pdts_df.head()

In [ ]:
pdt_df[pdt_df['NEW ID'] != ""]

In [ ]:
list(pdt_df['GENERIC NAME'].unique())

In [ ]:
unique_pdts_df['GENERIC NAME'].unique()

In [ ]:
'Montelukast'in(pdt_df['GENERIC NAME'])

In [ ]:
new_dp_list.head(20)

In [ ]:
new_dp_list.columns

In [ ]:
new_dp_list[new_dp_list['Generic Name'] == 'Diclofenac 12.5mg Suppositories']

In [ ]:
unique_pdts_df[unique_pdts_df['GENERIC NAME'] == 'Diclofenac']

In [ ]:
new_dp_list.head(10)

In [ ]:
print(new_dp_list['Generic Name'])

In [ ]:
new_dp_list.info()

In [ ]:
unique_pdts_df[unique_pdts_df['GENERIC NAME'].str.contains('Loratadine')]

In [ ]:
pattern = "+./'"

In [ ]:
unique_pdts_df.loc['Diclofenac 12.5mg Suppositories', 'GENERIC NAME']

In [ ]:
#         if unique_pdts_df['GENERIC NAME'][i] == pdt_df['GENERIC NAME'][j]:
#             pdt_df['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]
#         elif new_dp_list['Generic Name'][j].lower().contains(pat="+./'", regex=True) in new_dp_list['Generic Name'][j].lower():
#             new_dp_list['NEW ID'][j] = unique_pdts_df['PRODUCT ID'][i]